html, body{
  height: 100%;
  margin:0;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  color: red;
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/calories-chicken-chopping-board-616330.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: center;
}

.footer{
  display: flex;
  justify-content: center;
}

a{
  color: white;
  text-decoration: none;
}

.header-link{
  margin: 0 .2rem;
  color: black;
  font-size: 1rem;
}

.name{
  font-family: 'Niramit';
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
}

.button{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.62rem;
  margin: 1rem;
  border: 0.062rem solid transparent;
  width: 6.25rem;
  display: inline-block;
  text-align: center;
}

.button-box{
  text-align: center;
  margin: 2rem;
}

.button:hover{
  border: 0.062rem solid white;
  transition-duration: 0.5s;
}

@media (min-width: 768px){
  .header, .button, .footer{
  font-size: 2rem;
  }

  .button{
  width: 14rem;
  }
  .name{
  font-size: 6rem;
  }
  .header-link{
  margin: 0 .3rem;
  font-size: 1.8rem;
  }
}
